@import 'src/styles/colors';

:local(.content) {
  padding: 23px 18px 30px 18px;
}

:local(.btn) {
  margin-top: 30px;
}

:local(.info) {
  margin-top: 8px;
  font-size: 14px;
  color: $light-grey-blue;
  text-align: right;
  margin-bottom: 0;

  img {
    margin-top: -3px;
  }
}

:local(.receive) {
  font-size: 14px;
  color: $battleship-grey;
}
