@import 'src/styles/colors';
@import 'src/styles/vars';

:local(.logo) {
  font-size: 20px;
  font-weight: 500;
  color: $black;
  margin-bottom: 0;
}

:local(.badge) {
  border-radius: 4px;
  background: white;
  border: 1px solid $very-light-blue;
  padding: 5.5px 8px;
  margin-bottom: 0;
  height: 36px;
}

:local(.order) {
  font-size: 16px;
  color: $vibrant-blue;
  display: flex;
  margin-left: 19px;
  @media (max-width: $sm) {
    margin-left: 10px;
  }

  :local(.badge-num) {
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: $pale-grey;
    position: relative;
    margin-left: 10px;
  }
}

:local(.exit) {
  font-size: 20px;
  padding: 0 !important;
  color: $battleship-grey;
}

:local(.exit):hover {
  color: $battleship-grey;
}

:local(.address) {
  display: flex;
  font-size: 14px;
  padding-top: 7.5px;
  padding-bottom: 7.5px;
  height: 36px;

  :local(.address-title) {
    color: $light-grey-blue;
    margin-right: 2px;
  }

  :local(.address-value) {
    font-weight: 500;
    color: $black;
    cursor: pointer;
    font-size: 14px;

    @media (max-width: $sm) {
      font-size: 12px;
    }
  }

  @media (max-width: $lg) {
    margin-right: 80px;
  }

  @media (max-width: $md) {
    margin-right: 60px;
  }

  @media (max-width: $sm) {
    margin-right: 50px;
  }
}

:local(.address) div:first-child{
  display: flex;
  align-items: center;
  height: 100%;
}

:local(.connect) {
  background: $pale-purple-blue;
  border: 1px solid $pale-purple-blue;
  font-size: 14px;
  font-weight: 500;
  color: $vibrant-blue;
  width: 134px;
  height: 36px;
  border-radius: 4px;
  text-align: center;
}

:local(.connect):focus {
  outline: none;
}

:local(.option-name) {
  font-size: 12px;
  font-weight: 500;
  color: $battleship-grey;
}

:local(.option-web) {
  font-size: 11px;
  color: $vibrant-blue;
}

.rc-select {
  .react-select__value-container--has-value {
    img {
      display: none !important;
    }

    :local(.option-name) {
      font-size: 14px;
    }

    :local(.option-web) {
      font-size: 11px;
    }
  }
}
