@import 'src/styles/colors';

:local(.card) {
  margin-top: 50px;

  ul > li {
    width: 50%;
    text-align: center;
  }

  ul > li a {
    font-size: 18px;
    color: $battleship-grey;
    border: 1px solid white !important;
    border-bottom: 1px solid $grey !important;
    cursor: pointer;
    padding: 13px 4px;
  }

  ul > li a:hover {
    color: $battleship-grey;
    border: 1px solid white !important;
    border-bottom: 1px solid $grey !important;
  }

  ul > li :local(.active) {
    color: $vibrant-blue !important;
    border: 1px solid white !important;
    border-bottom: 1.5px solid $vibrant-blue !important;
    font-weight: bold;
  }

  ul > li :local(.active):hover {
    border-bottom: 1.5px solid $vibrant-blue !important;
  }
}

:local(.box-size) {
  width: 360px !important;
  padding-right: 0 !important;
  padding-left: 0 !important;
}
